<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Project</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="container">
        <!-- header -->
        <header>
            WELCOME
        </header>
        <!-- article -->
        <div class="article">
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Non perspiciatis odit unde nesciunt officiis ea quod possimus, 
                rerum similique doloribus necessitatibus dicta deleniti, saepe 
                explicabo natus aspernatur laudantium eum praesentium.</p>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Non perspiciatis odit unde nesciunt officiis ea quod possimus, 
                rerum similique doloribus necessitatibus dicta deleniti, saepe 
                explicabo natus aspernatur laudantium eum praesentium.</p>
            </article>
           
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Non perspiciatis odit unde nesciunt officiis ea quod possimus, 
                rerum similique doloribus necessitatibus dicta deleniti, saepe 
                explicabo natus aspernatur laudantium eum praesentium.</p>
            </article>
        </div>
        <aside>
            <h2> Side Navigation</h2>
        </aside>

        <!-- Footer -->
        <footer>
            THANK YOU
        </footer>
        
         
    </div>
    
</body>
</html>